*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color : #fff;
}
body{
    background-color: #14120B;
    height: 100vh;
    width: 100%;
}
main{
    padding: 8px 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B7B6B4;
    position: fixed;
    top: 0;
    background-color: #14120B;
    width : 100%;
    z-index: 1000;
    padding: 15px 20px;

}
.nav{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 150px;
    margin-bottom: 8px;
}
.nav>a{
    text-decoration: none;
    color : #fff;
    font-size: 15px;
    font-weight: 100;
}
.logoContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    /* border : 1px solid #fff; */
    width : auto;
}
.logoContainer>img{
    height: 23px;
}
.buttons{
    display : flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
#contactButton{
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    font-weight: 100;
}
#signInButton{
    background-color: transparent;
    border: 0.1px solid rgba(255, 255, 255, 0.164);
    padding: 3px 8px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 100;
}
#downloadButton{
    background-color: #fff;
    color : black;
    border: 0.1px solid white;
    padding: 4px 9px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 100;
}
.heroSection{
    margin-top : 80px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border : 1px solid #fff; */
    padding : 120px 0 30px 0px;
    gap: 29px;
}
.heroSectionContent>h3{
    width : 50%;
    font-weight :100;
    font-size: 25px;
}
.downloadButton{
    font-size: 17px;
    width : 20%;
    color : black;
    background-color: #fff;
    border-radius : 20px;
    padding : 10px;
    border-style : none;
    margin-bottom : 55px;
}
.logos{
    display : flex;
    width : 100%;
    justify-content:space-between
}
.logoBox>img{
    height : 40px;
}
.trustedLogos>p{
    text-align: center;
    font-size: 15px;
    font-weight:100;
}
.trustedLogos{
    margin-top : 10px;
    display : flex;
    flex-direction : column;
    gap : 20px;
    margin-bottom : 10px;

}
.logoBox{
    padding : 20px;
    background-color: #1B1913;
    border-radius : 5px;

}
.heroSection {
    width: 100%;
    padding: 90px 0 30px 0px;
    margin-bottom : 50px;
    
}

.featureSection{
    margin : 130px 0;
    width : 100%;
}
.section-1 ,.section-2 , .section-3{
    display : flex;
    width : 100%;
    background-color: #1B1913;
    padding : 10px;
    border-radius: 5px;;
    gap:20px;
    margin : 50px 0;
}
.section-1>.text ,.section-2>.text,.section-3>.text {
    width : 30%;
    display : flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction : column;
    gap : 15px;
    font-size: 22px;
}
.text>p{
    color : #999892
}
.text>p>strong{
    font-weight: 100;
}
.text>a{
    text-decoration: none;
    color : #F54A02;
    font-size:  15px;
}
svg{
    height : 15px;
}
.section-1>img , .section-2>img , .section-3>img{
   width : 70%;
}
.testimonialSection {
    display : flex;
    flex-direction : column;
    gap : 20px;
    align-items: center;
    justify-content: center;
    /* gap:20px; */
    margin : 150px 0;
}
.testimonialSection>h2{
    font-size: 40px;
    font-weight: 100;
    margin-bottom:45px;
}
.testimonialsCards{
    display : grid;
    grid-template-columns: repeat(3,1fr);
    gap : 20px
}
.testimonialCard{

        background-color: #1B1913;
        padding: 20px;
        border-radius: 8px;
        display : flex; 
        flex-direction: column;
        gap : 95px;
        padding : 15px;
        justify-content: space-between;
    
}
.testimonialCard>.cardFooter>img{
    height : 40px;
    border-radius : 5px
}
.testimonialCard>p{
    font-size : 15px;
    line-height: 23px;
    
}
.cardFooter{
    display : flex;
    gap:10px;
    align-items: flex-end;
}
.cardFooter>.personDetails>.role{
    color: #848280;
}
.cardContainer{
    display : grid;
    grid-template-columns: repeat(3,1fr);
    gap : 20px;
}
.useCases{
    display : flex;
    flex-direction : column;
    align-items: flex-start;
    gap : 30px;
    margin : 150px 0;

}
.useCases>h2{
    font-size : 30px;
    font-weight : 100;
}
.useCasesBox{
    padding : 15px;
    background-color: #1B1913;
}
.useCasesBoxText{
    display: flex;
    flex-direction : column;
    align-items: flex-start;
    gap : 10px;
}
.useCasesBoxText>p>strong{
    font-weight : 100;
    margin-bottom : 10px;
    font-size:20px;
    color : #fff;
}
.useCasesBoxText>p{
    color: #848280;
}
.useCasesBoxText>a{
    text-decoration: none;
    color : #F54A02;
    font-size:  15px;
    margin: 20px 0;
}
.useCasesBox>img{
    width: 100%;
    height: 85%;
    object-fit: contain;
}

.changeLog{
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
    gap : 20px;
}
.changelogBox{
    padding : 20px;
    background-color: #1B1913;
    display : flex;
    flex-direction : column;
    gap : 30px;
    border-radius : 5px;
}
.changelogContainer{
    display : grid;
    grid-template-columns: repeat(4,1fr);
    gap : 10px;
}
.changelogDate>span{
    padding : 3px 10px ;
    border-radius : 15px;
    border : 1px solid #9B9A98;
    color : #9B9A98
}
.changelogDate{
    color : #9B9A98;
}
.changeLog>h2{
    font-size : 40px;
    font-weight : 100;
}
.changeLog>a{
    text-decoration: none;
    color : #F54A02;
    font-size:  15px;
    margin: 20px 0;
}
.joinUs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap : 20px;
    margin : 150px 0;
}
.joinUs>h2{
    font-size: 35px;
    font-weight : 100;
}
.joinUs>button{
    border-style : none;
    text-decoration: none;
    color : #000;
    font-size:  15px;
    margin-bottom: 40px;
    padding : 10px;
    background-color: #fff;
    width : 9%;
    border-radius : 20px;

}
.tryNow{
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    flex-direction: column;
    margin : 150px 0;
}
.tryNow>h1{
    font-size: 80px;
    font-weight: 100;
}
.tryNow>button{
    padding : 10px 15px;
    width : 200px;
    font-size: 15px;

}
.multiColumnLinks{
    display : grid;
    grid-template-columns: repeat(5,1fr);
}
.column-1 , .column-2 , .column-3 , .column-4 , .column-5{
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
    gap : 10px;
}
.column-1>a , .column-2>a , .column-3>a , .column-4>a , .column-5>a{
    text-decoration:none;

}
.heading{
    color : #919896;
}
footer{
    display : flex;
    flex-direction : column;
    gap : 50px;
    background-color: #1B1913;
    padding : 50px;
}
.companyInfo{
    display : flex;
    justify-content: space-between;
    padding :  0;
}
.footerLeft{
    display : flex;
    justify-content: space-between;
    align-items: center;
    gap : 15px;
    
}
.footerLeft>p{
    color : #919896;
}
